.Skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    background-color: #f4f4f4;
}

    .Skills h2 {
        margin-bottom: 1rem;
        font-size: 2rem;
        color: #333;
    }

    .Skills ul {
        list-style: none;
        padding: 0;
    }

    .Skills li {
        margin: 0.5
    }